.bg-img{
    background-image: url('../img/code.jpg');
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

hr {
    border-top: 1px solid #B4CDCF !important;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

ul {
    list-style: none; /* Remove default bullets */
}

ul li.accordeon::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #FFC107; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}
